{% extends "base.html" %}
{% load static %}

{% block content2 %}
<!--=================================
page-title-->

<section class="page-title bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url('https://rejuvahome.s3.amazonaws.com/static/images/dental-banner.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-name">
                    <h1>About us</h1>
                    <p>Something About Us</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
page-title -->

<!--=================================
About-->

<section class="page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-md-push-6">
                <div class="js-video [youtube, widescreen]">
                    <iframe src="https://www.youtube.com/embed/JcdeGZczv98" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-md-pull-6 sm-mt-30">
                <div class="section-title mb-20">
                    <h6>Who we are and what we do </h6>
                    <h2>Get to know us better. </h2>
                    <p>At REJUVA AESTHETICA all the cosmetic surgery and hair transplant is
                        done by Dr Arth Shah.
                        He is known for his artistic skills which can recreate yourself to give you a dream
                        look.</p>
                </div>
                <p>Our price make it possible for a common man to have world class
                    cosmetic surgery and hair transplant at an affordable cost without compromising
                    quality care .
                    <br>
                    This makes it possible for people from different cities and countries to fly to
                    REJUVA AESTHETICA for their dream cosmetic surgery.
                </p>
            </div>
        </div>
    </div>
</section>

<!--=================================
About-->


<!--=================================
Our office  -->


<section class="theme-bg page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 mb-30">
                <h1 class="text-white">01<span class="text-white">.</span></h1>
                <h3 class="text-white">Modern Equipment</h3>
                <p class="text-white">There are two procedure rooms. The procedure rooms are equipped with the
                    most modern equipment with US- FDA approved machines and a staff which is both friendly
                    and experienced</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 mb-30">
                <h1 class="text-white">02<span class="text-white">.</span></h1>
                <h3 class="text-white">Experienced care</h3>
                <p class="text-white">At REJUVA AESTHETICA all the cosmetic surgery and hair transplant is
                    done by Dr Arth Shah.
                    He is known for his artistic skills which can recreate yourself to give you a dream
                    look.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <h1 class="text-white">03<span class="text-white">.</span></h1>
                <h3 class="text-white">Affordable care</h3>
                <p class="text-white">Our price make it possible for a common man to have world class
                    cosmetic surgery and hair transplant at an affordable cost without compromising
                    quality care (financing options are also available at 0% EMI)</p>
            </div>
        </div>
    </div>
</section>
<!--=================================
Our office -->


<!--=================================
our-Team -->

<section class="page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-md-offset-2">
                <div class="section-title text-center">
                    <h5>Meet our Superhero </h5>
                    <h2 class="title-effect">Our Expert Doctor</h2>
                    <p>They are always ready for you!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 sm-mb-30">
                <div class="team team-list">
                    <div class="team-photo pt-50">
                        <img class="img-responsive center-block" src="{% static 'images/medical/Dr Arth updated photgraph-min.png' %}" alt="">
                    </div>
                    <div class="team-description">
                        <div class="team-info">
                            <h5>Dr. Arth Shah</h5>
                            <h6>Cosmetic and Plastic surgeon</h6>
                            Dr. ARTH SHAH M.S., M.Ch, (Cosmetic and Plastic surgeon) Fellow Hair
                                Transplant Surgery, Fellow advanced cosmetic surgery, Fellow LASER and cosmetic
                                dermatology is a Board Certified Internationally qualified, highly experienced Cosmetic
                                and Plastic surgeon practicing in Ahmedabad. He has done his M. Ch. Plastic surgery
                                from B.J. Medical college & Civil Hospital, Ahmedabad. Civil Hospital being the largest
                                hospital of Asia Dr. shah has wide exposure of all the fields of plastic and cosmetic
                                surgery.
                                <br />
                                <br /> During Residency programmed he has done work at
                                <br /> 1) TATA Memorial Hospital, Mumbai
                                <br />2) Department of Plastic and Cosmetic surgery, Amrita Institute, Cochin
                                <br /> 3) Ganga Hospital, Coimbatore.<br />
                                <br />After completed residency programmed he has done his advanced fellowship in
                                cosmetic surgery from Mumbai. During that period Dr. Shah has worked with various
                                international and national renowned doctors. he has presented various papers in
                                national and international journals and attended various national and international
                                conferences.
                                <br /><br />He is soft spoken and pleasing personality. Patients comfort and wellbeing
                                with natural, aesthetically pleasing optimal results is his first and foremost
                                priority. Each patient receives undivided attention, and makes and informed decision
                                after extensive counselling and with full knowledge of the procedure as well as
                                alternative treatments available. His artistic approach based on a bedrock of sound
                                technical expertise ensures patient satisfaction in every case.
                        </div>
                        <div class="team-contact">
                            <span class="call"> +(91) 743-600-0990</span>
                            <span class="email"> <i class="fas fa-envelope"></i> arth.shah@rejuvaaesthetica.com </span>
                        </div>
                        <div class="social-icons border rounded color-hover clearfix">
                            <ul>
                                <li class="social-facebook"><a href="https://bit.ly/2LIYJKu"><i class="fab fa-facebook"></i></a></li>
                                <li class="social-instagram"><a href="https://www.instagram.com/rejuva_aesthetica/"><i class="fab fa-instagram"></i></a></li>
                                <li class="social-pinterest"><a href="https://in.pinterest.com/rejuvaaesthetica/"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
our-Team -->
<section class="our-activities page-section-ptb  bg-overlay-black-60 parallax" data-jarallax="{&quot;speed&quot;: 0.6}"
    style="background-image: url('https://d1ue9nf4jqhjr9.cloudfront.net/static/images/Plastic Surgeon in Ahmedabad.jpg'); background-attachment: fixed; background-size: auto;">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 text-center pt-30 pb-30">
                <h2 class="mb-20 text-white">Rejuva Aesthetica has every thing you need &amp; Surgery, Finance, Aesthetic and amazing Support.</h2>
                <span class="text-white"> - Dhiraj Bajwa</span>
            </div>
        </div>
    </div>
</section>

<!--=================================
Our Testimonial -->

{% comment %} <section class="page-section-ptb gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section-title text-center">
                    <h6>Have a look at our </h6>
                    <h2 class="title-effect">Client Opinions & Reviews</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="owl-carousel" data-nav-dots="true" data-items="2" data-md-items="2" data-sm-items="2"
                    data-xs-items="1" data-xx-items="1">
                    <div class="item">
                        <div class="testimonial light">
                            <div class="testimonial-avatar"> <img alt="Rejuva Aesthetica Hair transplant clinic ahemdabad" src="{% static 'images/gallery/pre op post op 1.png' %}"> </div>
                            <div class="testimonial-info"> Excellent Service These guys reply within minutes
                                sometimes
                                and really help you with when you need them. The template itself is very extended as
                                well. Happy
                                with my purchase!</div>
                            <div class="author-info"> <strong>15Twelve - <span>ThemeForest user</span></strong> </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial light">
                            <div class="testimonial-avatar"> <img alt="" src="{% static 'images/team/01.jpg' %}"> </div>
                            <div class="testimonial-info"> One of the most complete template here. Thanks a lot for
                                such great
                                features, pages, shortcodes and home variations. Incredible Job. And the best of all,
                                great
                                introductions</div>
                            <div class="author-info"> <strong>Xerracol - <span>ThemeForest user</span></strong> </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial light">
                            <div class="testimonial-avatar"> <img alt="" src="{% static 'images/team/01.jpg' %}"> </div>
                            <div class="testimonial-info"> This is a well put together template and the developer
                                offers great
                                support. I've been in contact with them and the response was prompt and everything has
                                been taken
                                care of.</div>
                            <div class="author-info"> <strong>Warble - <span>ThemeForest user</span></strong> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}

<!--=================================
Our Testimonial -->

{% endblock content2 %}