{% extends "base.html" %}
{% load static %}


{% block content %}
<!--=================================
 rev-slider -->

<section class="rev-slider">
  <div id="rev_slider_6_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="slider-medicine"
    data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
    <div id="rev_slider_6_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.5.2">
      <ul>
        <!-- SLIDE  -->
        <li data-index="rs-13" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
          data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="{% static 'images/medical/pexels-photo-325682.jpeg' %}"
          data-rotate="0" data-saveperformance="on" data-title="Slide" data-param1="" data-param2="" data-param3=""
          data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
          data-description="">
          <!-- MAIN IMAGE -->
          <img class="lozad" data-src="{% static 'images/medical/slider 3.png' %}" alt="Rejuva Aesthetica Hair transplant clinic ahemdabad"
            data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg"
            data-retina>
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <div class="tp-caption   tp-resizeme" id="slide-13-layer-1" data-x="395" data-y="323" data-width="['auto']"
            data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":2000,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 60px; line-height: 90px; font-weight: 600; color: #323232; letter-spacing: 0px;font-family:Montserrat;">
            
          </div>
          <!-- LAYER NR. 2 -->
          <div class="tp-caption   tp-resizeme  rev-color" id="slide-13-layer-2" data-x="395" data-y="400" data-width="['auto']"
            data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1340,"speed":2000,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 60px; line-height: 90px; font-weight: 600; color: #0058cc; letter-spacing: 0px;font-family:Montserrat;">
            
          </div>
          <!-- LAYER NR. 3 -->
          <div class="tp-caption   tp-resizeme" id="slide-13-layer-3" data-x="395" data-y="503" data-width="['auto']"
            data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":3240,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 36px; line-height: 36px; font-weight: 400; color: #323232; letter-spacing: 0px;font-family:Montserrat;">
             </div>
          <!-- LAYER NR. 4 -->
          <!-- <div href="#" class="tp-caption rev-btn  tp-resizeme" id="slide-13-layer-5" data-x="397" data-y="577" data-width="['auto']"
            data-height="['auto']" data-type="button" data-responsive_offset="on" data-frames='[{"delay":4270,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power0.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[12,12,12,12]"
            data-paddingright="[35,35,35,35]" data-paddingbottom="[12,12,12,12]" data-paddingleft="[35,35,35,35]" style="z-index: 8; white-space: nowrap; font-size: 13px; line-height: 13px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: px;font-family:Montserrat;text-transform:uppercase;background-color:rgba(0,0,0,0.75);border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            Get Started </div> -->
        </li>
        <!-- SLIDE  -->
        <li data-index="rs-15" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
          data-hideslideonmobile="on" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="{% static 'images/3.jpg' %}"
          data-rotate="0" data-saveperformance="on" data-title="Slide" data-param1="" data-param2="" data-param3=""
          data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
          data-description="">
          <!-- MAIN IMAGE -->
          <img class="lozad" data-src="{% static 'images/medical/skin_rejuvenation.jpg' %}" alt="" data-bgposition="center center"
            data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
          <!-- LAYERS -->
          <!-- LAYER NR. 5 -->
          <div class="tp-caption   tp-resizeme" id="slide-15-layer-1" data-x="right" data-hoffset="371" data-y="323"
            data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":300,"speed":2000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 60px; line-height: 90px; font-weight: 600; color: #323232; letter-spacing: 0px;font-family:Montserrat;text-transform:capitalize;">
            </div>
          <!-- LAYER NR. 6 -->
          <div class="tp-caption   tp-resizeme  rev-color" id="slide-15-layer-2" data-x="right" data-hoffset="370"
            data-y="419" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on"
            data-frames='[{"delay":1340,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 60px; line-height: 90px; font-weight: 600; color: #0058cc; letter-spacing: 0px;font-family:Montserrat;">
            </div>
          <!-- LAYER NR. 7 -->
          <div class="tp-caption   tp-resizeme" id="slide-15-layer-3" data-x="right" data-hoffset="370" data-y="515"
            data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":3240,"speed":2000,"frame":"0","from":"x:200px;skX:-85px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 36px; line-height: 36px; font-weight: 400; color: #323232; letter-spacing: 0px;font-family:Montserrat;">
            </div>
          <!-- LAYER NR. 8 -->
          <!-- <div class="tp-caption rev-btn  tp-resizeme" id="slide-15-layer-5" data-x="right" data-hoffset="370" data-y="575"
            data-width="['auto']" data-height="['auto']" data-type="button" data-responsive_offset="on" data-frames='[{"delay":4270,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power0.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[12,12,12,12]"
            data-paddingright="[35,35,35,35]" data-paddingbottom="[12,12,12,12]" data-paddingleft="[35,35,35,35]" style="z-index: 8; white-space: nowrap; font-size: 13px; line-height: 13px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: px;font-family:Montserrat;text-transform:uppercase;background-color:rgba(0,0,0,0.75);border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">make
            appointment </div> -->
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
  </div>
</section>

<!--=================================
rev-slider -->
{% endblock content %}


{% block appointment %}
<!--=================================
appointment -->

<section class="appointment">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="appointment-bg bg-overlay-theme-90 parallax" data-jarallax='{"speed": 0.6}'>
          <div class="clearfix">
            <div class="col-md-6">
              <span class="text-white">Need a doctor? </span>
              <h3 class="text-white mb-20">Make an appointment now! </h3>
              <p class="text-white">You can also contact the relevant
                department to choose a convenient
                date and
                time by phone or online. </p>
              <p class="text-white">Department to choose a convenient date and
                time by phone or online.
              </p>
              <div class="contact-box mt-30 sm-mb-30">
                <div class="contact-icon">
                  <i class="fa fa-plus-square text-white"></i>
                </div>
                <div class="contact-info">
                  <h5 class="text-white">(+91) 743-600-0990</h5>
                  <span class="text-white">Mon-Fri 10:00am-6:30pm</span>
                </div>
              </div>
            </div>
            <form id="contactform" action="POST" method="{% url 'contact' %}">
              {% csrf_token %}
              <div class="col-md-3 col-sm-6">
                <div class="contact-form border-form full-width clearfix">
                  <div class="section-field">
                    {{ form.full_name }}
                  </div>
                  <div class="section-field">
                    {{ form.email }}
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="contact-form border-form full-width clearfix">
                  <div class="section-field textarea">
                    {{ form.content }}
                  </div>
                  <div class="section-field">
                    <button id="submit" name="submit" type="submit" value="Send" class="button">
                      <span>
                        Send message
                      </span>
                      <i class="fa fa-paper-plane"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
appointment -->
{% endblock appointment %}

{% block content2 %}
<!--=================================
 About-->

<section class="page-section-pt">
  <div class="container">
    <div class="row row-eq-height">
      <div class="col-md-6">
        <div class="mb-60">
          <h2>We care for your health</h2>
          <p>Located in beautiful location of Ahmedabad Rejuva, Aesthetica is a Cosmetic Surgery clinic
            dedicated to helping our clients to look and feel their best. We do this by offering a comprehensive range
            of surgical procedures as well as non-surgical procedures, all designed to improve and enhance your
            appearance
            from head to toe. We Strive to provide the best care to our patients and to ensure the procedures we
            perform yield the best result possible</p>
          <div class="mt-40">
            <div class="row">
              <div class="col-md-6 col-sm-6 xs-mb-30">
                <ul class="list list-unstyled theme-color">
                  <li><i class="fa fa-plus-square"></i> Hair Treatments</li>
                  <li><i class="fa fa-plus-square"></i> Face Treatments</li>
                  <li><i class="fa fa-plus-square"></i> Breast Treatments</li>

                </ul>
              </div>
              <div class="col-md-6 col-sm-6">
                <ul class="list list-unstyled theme-color">
                  <li><i class="fa fa-plus-square"></i>Body Treatments</li>
                  <li><i class="fa fa-plus-square"></i> Cosmetic Gynaecology</li>
                  <li><i class="fa fa-plus-square"></i> Sking Treatments</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="clearfix">
          <img class="bottom-img center-block" width="470" src="{% static 'images/medical/pexels-photo-555790.png' %}"
            alt="Rejuva Aesthetica Hair transplant clinic ahemdabad">
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
About-->

<!--=================================
feature text -->

{% include "base/snippets/feature-box.html" %}

<!--=================================
feature text -->

<!--=================================
our-blog -->

{% if blog %}
<section class="our-blog page-section-ptb parallax bg-overlay-black-80" style="background-image:url('https://d1ue9nf4jqhjr9.cloudfront.net/static/images/light.jpg'); background-origin: initial; background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="section-title line center dark-bg text-center">
          <h6 class="subtitle">Fresh Blogs From Us</h6>
          <h2 class="title text-white">Latest Articles</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% for blog in blog %}
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="blog-box blog-2">
          {% if blog.featured_image %}
          <a href="{% url 'blogs:detail' slug=blog.slug %}">
            <img class="img-responsive" src="{{ blog.featured_image.url }}" alt="Rejuva Aesthetica Hair transplant clinic ahemdabad">
          </a>
          {% endif %}
          <div class="blog-info">
            <span class="post-category"><a href="#">{{ blog.category }}</a></span>
            <h4> <a href="{% url 'blogs:detail' slug=blog.slug %}"> {{ blog.title }}</a></h4>
            <p>{{ blog.content | striptags | safe | truncatewords:5 }}... </p>
            <span><i class="fa fa-calendar-check-o"></i> {{ blog.timestamp }} </span>
            <a class="button icon-color" href="{% url 'blogs:detail' slug=blog.slug %}">Read More<i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a class="mt-40 button" href="{% url 'blogs:list' %}">More blogs</a>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!--=================================
our-blog -->

<!--=================================
team -->

<section class="page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-md-push-6">
        <img class="img-responsive full-width mb-20" src="{% static 'images/image-3.jpg' %}" alt="">
      </div>
      <div class="col-lg-6 col-md-6 col-md-pull-6 sm-mt-30">
        <div class="section-title mb-20">
          <h6>Our Expert</h6>
          <h2>Dr. Arth Shah</h2>
          <p>At Rejuva Aesthetica all the cosmetic surgery and hair transplant is
            done by Dr Arth Shah.
            He is known for his artistic skills which can recreate yourself to give you a dream
            look.</p>
        </div>
        <p>Our price make it possible for a common man to have world class
          cosmetic surgery and hair transplant at an affordable cost without compromising
          quality care .
          <br>
          This makes it possible for people from different cities and countries to fly to
          REJUVA AESTHETICA for their dream cosmetic surgery.
        </p>
      </div>
    </div>
  </div>
</section>

<!--=================================
team -->
<!--=================================
action box -->
{% include "contact/action-box.html" %}
<!--=================================
action box -->
<!--=================================
google map-->

<section class="white-bg o-hidden">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div style="width: 100%; height: 380px;" id="map" class="g-map" data-type='light'></div>
      </div>
    </div>
  </div>
</section>

<!--=================================
google map-->
{% endblock content2 %}