{% extends "base.html" %}
{% load static %}


{% block content %}
<!--================================= page-title-->

<section class="page-title bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url('https://d1ue9nf4jqhjr9.cloudfront.net/static/images/page-title-1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-name">
                    <h1>Contact Us</h1>
                    <p>We are waiting to hear from you</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
page-title -->


<!--=================================
contact-->

<section class="theme-bg contact-2 clearfix o-hidden">
    <div class="container-fluid pos-r">
        <div class="row">
            <div class="col-lg-6 col-md-6 map-side g-map map-right" id="map" data-type='black'>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">

                <div class="contact-3-info page-section-ptb text-white">
                    <div class="clearfix">
                        <h6 class="text-white">Our Offices</h6>
                        <h2 class="text-white">Contact Info</h2>
                        <p class="mb-50 text-white">It would be great to hear from you! If you got any questions,
                            please do not
                            hesitate to send us a message. We are looking forward to hearing from you! We reply
                            within <span class="tooltip-content-2" data-original-title="Mon-Fri 10am–7pm (GMT +5.30)"
                                data-toggle="tooltip" data-placement="top"> 24 hours!</span></p>

                        <ul class="addresss-info list-unstyled">
                            <li><i class="ti-map-alt"></i>
                                <p>Address: 02, Himalaya Emerald, Besides IOC Petrol Pump, Near
                                Shivaranjani Over Bridge, Ahemadabad, Gujrat - 380015
                                </p>
                            </li>
                            <li><i class="ti-mobile"></i>Phone: +(91) 743-600-0990</li>
                            <li><i class="ti-email"></i>Email: letstalk@webster.com</li>
                        </ul>
                        <div class="social-icons border rounded color-hover mt-50">
                            <ul>
                                <li class="social-facebook"><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li class="social-twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="social-dribbble"><a href="#"><i class="fab fa-dribbble"></i> </a></li>
                                <li class="social-vimeo"><a href="#"><i class="fab fa-vimeo"></i> </a></li>
                                <li class="social-pinterest"><a href="#"><i class="fab fa-pinterest-p"></i> </a></li>
                                <li class="social-behance"><a href="#"><i class="fab fa-behance"></i> </a></li>
                                <li class="social-linkedin"><a href="#"><i class="fab fa-linkedin"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section-ptb contact-2">
    <div class="container">
        <div class="row text-center mb-50">
            <div class="col-md-offset-2 col-md-8">
                <div class="section-title">
                    <h6>let's work together</h6>
                    <h2 class="title-effect">Contact Us</h2>
                    <p>It would be great to hear from you! If you got any questions.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="formmessage">{{ message }}</div>
                <form class="form-horizontal" id="contactform" role="form" method="POST" action="{% url 'contact' %}">
                    <div class="contact-form clearfix">
                        {% csrf_token %}
                        {{ form }}
                        <button id="submit" name="submit" type="submit" value="Send" class="button">
                            <span>
                                Send message
                            </span>
                            <i class="fa fa-paper-plane"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div id="ajaxloader" style="display:none"><img class="center-block mt-30 mb-30" src="{% static 'images/pre-loader/loader-02.svg' %}"
                    alt=""></div>
        </div>
    </div>
    </div>
</section>

<!--=================================
contact-->

<!--=================================
action box- -->

<section class="action-box theme-bg full-width">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h3><strong> Rejuva Aesthetica: </strong>Because Looking Good Is Your Choice</h3>
                <p> Your Comfort and Well Being Our First Priority </p>
                <a class="button border white" href="{% url 'contact' %}">
                    <span>Contact Us</span>
                    <i class="fa fa-download"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<!--=================================
action box- -->

{% endblock content %}
