{% load static %}

<!-- jquery -->
<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>

<!-- jquery-confirm JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

<!-- plugins-jquery -->
<script type="text/javascript" src="{% static 'js/plugins-jquery.min.js' %}"></script>

<!-- plugin_path -->
<script type="text/javascript">
    var plugin_path = '{% static "js/" %}';
</script>

<!-- REVOLUTION JS FILES -->
<script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
<!-- revolution custom -->
<script type="text/javascript" src="{% static 'revolution/js/revolution-custom.min.js' %}"></script>

<!-- custom -->
<script type="text/javascript" src="{% static 'js/custom.min.js' %}"></script>

<!-- Django Secure AJAX JS -->
<script src='{% static "js/csrf.ajax.min.js" %}'></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c260b17ac512626"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>

<script>
    const observer = lozad();
    observer.observe();
</script> -->
