{% extends 'base.html' %}
{% load static %}

{% block title %} Rejuva Aestherica | Hair {% endblock title %}

{% block content %}
<!--=================================
page-title-->

<section class="page-title bg-overlay-black-60 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url(https://d1ue9nf4jqhjr9.cloudfront.net/static/images/page-title-1.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title-name">
          <h1>Hair Treatment</h1>
          <p>rejuva Aestheica helps you look good</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
page-title -->
<section class="theme-bg page-section" style="position: -webkit-sticky; position: sticky; left:0;">
  <div class="container">
    <div class="row">
      <div class="social col-md-10 col-lg-10 col-sm-10 text-white social-section center clear">
        {% autoescape on %}

        {% with "https://rejuvaaesthetica.com/" as host %}
        {% with "Share to" as share_txt %}

        <ul class="social-section-list center">
          <li class="social-top-icons text-white">
            {% with "facebook" as service %}
            <a href="http://www.facebook.com/share.php?u={{ host }}{{ page_url }}&amp;t={{ title }}" target="_blank"
              title="{{ share_txt }} {{ service }}" style="background-color: #5d82d1; padding: 5px 30px 5px 30px; border-radius:5px;">
              <i class="fab fa-facebook-f text-white"></i>
            </a>
            {% endwith %}
          </li>
          <li class="social-top-icons text-white">
            {% with "twitter" as service %}
            <a href="http://twitter.com/share?url={{ host }}{{ page_url }}&amp;text={{ title }}" target="_blank" title="{{ share_txt }} {{ service }}"
              style="background-color: #40bff5; padding: 5px 30px 5px 30px; border-radius:5px;">
              <i class="fab fa-twitter text-white"></i>
            </a>
            {% endwith%}
          </li>
          <li class="social-top-icons text-white">
            <a href="http://www.pinterest.com/shareArticle?mini=true&amp;url={{ host }}{{ page_url }}&amp;title={{ title }}&amp;ro=false&amp;summary=&amp;source="
              target="_blank" title="{{ share_txt }} {{ service }}" style="background-color: #e13138; padding: 5px 30px 5px 30px; border-radius:5px;">
              <i class="fab fa-pinterest-p text-white"></i> </a>
          </li>
          <li class="social-top-icons text-white">
            {% with "linkedin" as service %}
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ host }}{{ page_url }}&amp;title={{ title }}&amp;ro=false&amp;summary=&amp;source="
              target="_blank" title="{{ share_txt }} {{ service }}" style="background-color: #238cc8; padding: 5px 30px 5px 30px; border-radius:5px;">
              <i class="fab fa-linkedin-in text-white"></i>
            </a>
            {% endwith %}
          </li>
        </ul>
        {% endwith %}
        {% endwith %}

        {% endautoescape %}
      </div>
    </div>
  </div>
</section>


<!--=================================
 service-->

<section class="blog blog-grid-2-column white-bg page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-md-offset-2">
        <div class="section-title text-center">
          <h6> Be Perfect ...</h6>
          <h2 class="title-effect">Skin Treatments</h2>
          <p>We'll do everything we can!</p>
        </div>
      </div>
    </div>
    <!-- ================================================ -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="blog-entry mb-50">
          <div class="entry-image clearfix">
            <img class="img-responsive" src="{% static 'images/slider1.jpg' %}" alt="">
          </div>
          <div class="blog-detail">
            <div class="entry-title mb-10">
              <a> Skin Resurfacing </a>
            </div>
            <div class="entry-content">
              <p>
                Laser skin resurfacing, also known as a laser peel, laser vaporization and lasabrasion,
                can reduce facial wrinkles, scars and blemishes. Newer laser technologies give your
                plastic surgeon a new level of control in laser surfacing, permitting extreme
                precision, especially in delicate areas.
              </p>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-3">
                  <ul class="list list-unstyled mb-10 mt-10">
                    <li> <i class="fa fa-plus-square"></i> Skin Whitening </li>
                    <li> <i class="fa fa-plus-square"></i> Skin Resurfacing </li>
                    <li> <i class="fa fa-plus-square"></i> Skin Post Pregnancy </li>
                    <li> <i class="fa fa-plus-square"></i> Dermabrasion </li>
                    <li> <i class="fa fa-plus-square"></i> Chemical Peeling </li>
                  </ul>
                </div>
                <div class="col-sm-3">
                  <ul class="list list-unstyled mb-10 mt-10">
                    <li> <i class="fa fa-plus-square"></i> Dermaroller </li>
                    <li> <i class="fa fa-plus-square"></i> Mesotherapy </li>
                    <li> <i class="fa fa-plus-square"></i> Oxygen Therapy </li>
                    <li> <i class="fa fa-plus-square"></i> Anti-Tanning </li>
                    <li> <i class="fa fa-plus-square"></i> Anti-Aging </li>
                  </ul>
                </div>
                <div class="col-sm-3">
                  <ul class="list list-unstyled mb-10 mt-10">
                    <li> <i class="fa fa-plus-square"></i> Botox </li>
                    <li> <i class="fa fa-plus-square"></i> Fillers </li>
                    <li> <i class="fa fa-plus-square"></i> RX </li>
                    <li> <i class="fa fa-plus-square"></i> Subcision </li>
                    <li> <i class="fa fa-plus-square"></i> Dermatoscopy </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ================================================ -->
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="blog-entry mb-50">
          <div class="entry-image clearfix">
            <img class="img-responsive" src="{% static 'images/Skin Treatments.jpg' %}" alt="">
          </div>
          <div class="blog-detail">
            <div class="entry-title mb-10">
              <a> Botox </a>
            </div>
            <div class="entry-content">
              <p>
                Botox is a drug made from a neurotoxin produced by the bacterium Clostridium
                botulinum called botulinum toxin.</b> It is used medically to treat certain
                muscular conditions and cosmetically remove wrinkles by temporarily paralyzing muscles.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- ================================================ -->
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="blog-entry mb-50">
          <div class="entry-image clearfix">
            <img class="img-responsive" src="{% static 'images/laser skin resurfacing.jpg' %}" alt="">
          </div>
          <div class="blog-detail">
            <div class="entry-title mb-10">
              <a> Skin Rejuvanation </a>
            </div>
            <div class="entry-content">
              <p>
                Sun, skin disorders, aging and even heredity can all contribute to skin irregularities
                on the face and elsewhere on the body. These include textural irregularities like
                wrinkles and acne scars, pigmentation changes like freckles and sunspots, or visible
                blood vessels.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ================================================ -->
  </div>
</section>

<!--=================================
 service-->


<!--=================================
 like what -->
 {% include "base/snippets/like-what.html" %}

<!--=================================
 like what  -->


<!--=================================
 service-->

<section class="service white-bg page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-md-offset-2">
        <div class="section-title text-center">
          <h6> Advantages of Rejuva Aesthetica </h6>
          <h2 class="title-effect">Total Care System</h2>
          <p>We are dedicated to providing you with the best experience possible.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="mb-30">
          <h1>01<span class="theme-color">.</span></h1>
          <h3>Innovation</h3>
          <p> Patented Technology with Patented Micro and Single use instruments </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="mb-30">
          <h1>02<span class="theme-color">.</span></h1>
          <h3>Education </h3>
          <p>We feel how you feel so many people from all around the world have undergone various procedures with
            Rejuva Aesthetica</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="text-left">
          <h1>03<span class="theme-color">.</span></h1>
          <h3>Transparency</h3>
          <p>No Stitches, No Pain, No Scars, No Marks, No Scalpels, No Bleeding, Single Session Sitting </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
 service-->
{% include "contact/action-box.html" %}
{% endblock content %}