/*

Template: Webster - Responsive Multi-purpose HTML5 Template
Author: potenzaglobalsolutions.com
Design and Developed by: potenzaglobalsolutions.com

NOTE:  This file includes all shortcode css. If you don't want to use any shortcode from below. You can simply remove that line from this file.

*/
 
/*shortcode*/
@import url("accordion.min.css");
@import url("action-box.min.css");
@import url("blockquote.min.css");
@import url("bootstrap-typography.min.css");
@import url("button.min.css");
@import url("clients.min.css");
@import url("contact-form.min.css");
@import url("countdown.min.css");
@import url("counter.min.css");
@import url("divider.min.css");
@import url("dropcap.min.css");
@import url("feature-text.min.css");
@import url("list-style.min.css");
@import url("nice-select.min.css");
@import url("owl-carousel.min.css");
@import url("page-title.min.css");
@import url("pie-chart.min.css");
@import url("pricing.min.css");
@import url("progress-bar.min.css");
@import url("section-title.min.css");
@import url("shortcodes.min.css");
@import url("social-icons.min.css");
@import url("tabs.min.css");
@import url("team.min.css");
@import url("testimonial.min.css");
@import url("side-panel.min.css");
@import url("onload-modal.min.css");
